name: Deploy Project

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest
    container:
      image: node:20

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install dependencies
        run: npm ci

      - name: Build project
        run: npm run build

      - name: Deploy to GitHub Pages
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          git config --global user.name "QA-Shivam"
          git config --global user.email "shivamkumar16399@gmail.com"

          # Deploy to gh-pages branch
          npx gh-pages -d dist -r https://x-access-token:${GH_TOKEN}@github.com/QA-Shivam/portfolio.git
